.inscription-modale{

  position: fixed;
  z-index: 100;
  top:0;
  bottom: 0;
  left:0;
  right: 0;


  background-color:rgba(0,0,0,0.4);

  display: none;
  justify-content: center;
  align-items: center;

  &.open{
    display: flex;

    .inscription{
      top: 30px;
      margin: 0 5px;
    }
  }

  .inscription {

    position: relative;

    padding: 20px;



    background-color: $white;

    min-width: 280px;


    .btn-close{
      position: absolute;
      right: 10px;
      top: 10px;

      width: 30px;
      height: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;

      border: none;
      box-shadow: 2px 2px 4px #000;

      border-radius: 50%;

      &:hover{
        background-color: $gray-200;
        box-shadow: 1px 1px 2px #000;
      }
    }


    h2{
      margin: 10px 0;
    }


    .form-inscription {

      display: flex;
      flex-direction: column;

      .btn-envoyer{
        padding: 10px;
        border-radius: 10px;
      }

      .genre{
        margin-bottom: 20px;
        p{
          margin: 0 0 5px;
        }

        label{
          margin-right: 10px;
        }
      }

    }


  }

}

@media screen and (min-width: $vw-medium) {
  .inscription-modale{
    .inscription{
      display: flex;

      .btn-close{
        right: -15px;
        top: -15px;
      }
    }

  }
}