.ajout-article{
  margin-top: 50px;
  margin-bottom: 50px;

  .header-connexion{

    background-color: $color-bg-dark;
    color: $color-title-light;
    padding: 10px;
    margin-bottom: 20px;

    h2{
      margin: 0;
    }

  }

  .form-connexion{
    display: grid;
    grid-template-columns: 1fr;

    max-width: 500px;
    margin: 0 auto;

    padding: 0 10px;

    input[type="file"]{
      width:160px;
    }

    label, input[type="submit"], input[type="file"]{
      margin-top: 10px;
    }

    input[type="submit"]{
      border: 2px solid $input-border-color;
      border-radius: $input-border-radius;
      background-color: $input-background-color;
    }

    input[type="submit"]:hover{
      background-color: $input-background-focus-color;
    }


  }
}

@media screen and (min-width: $vw-small){
  .ajout-article{
    .form-connexion{
      grid-template-columns: 160px 1fr;
      grid-row-gap: 10px;

      input[type="submit"]{
        grid-column: 1 / span 2;
      }

    }
  }
}